* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'ZCOOL QingKe HuangYou', 'sans-serif';
    --content-bg-color: rgb(228, 234, 238);
    --btn-color: rgb(2, 179, 179);
    --fade-in: opacity .2s linear;
    --fade-out: opacity .1s linear;
}

h1 {
    font-family: 'Lobster', 'sans-serif';
    font-size: 60px;
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 5fr;
}

.header {
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 4px lightgray;
    z-index: 999;
}

.header > img {
    border-radius: 50%;
    width: 50px;
    height: auto;
}

#new-book {
    background-color: var(--btn-color);
    color: white;
    font-weight: 900;
    font-size: 1.2rem;
    border: none;
    border-radius: 10px;
    padding: 15px 30px;
    transition: .2s;
}

.content {
    background-color: var(--content-bg-color);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: minmax(150px, 250px);
    gap: 80px;
    padding: 20px 80px;
}

.book-card {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 2px lightgray;
    padding: 15px;
    text-align: center;
    transition: .2s;
}

.book-card:hover {
    transform: scale(1.01);
}

.book-card > div:nth-child(2) > * {
    margin: 10px 0;
}

.delete-book {
    align-self: start;
    justify-self: end;
}

.delete-book > svg:hover {
    color: red;
}

.read-status, .form button {
    color: white;
    border-radius: 10px;
    border: none;
    font-size: .9rem;
    padding: 6px 10px;
}

.read-status {
    justify-self: center;
    background-color: var(--btn-color);
    transition: .2s;
}

#new-book:hover, .read-status:hover, .form button:hover {
    filter: brightness(120%);
}

.no-display {
    display: none;
}

.hide {
    visibility: hidden;
    opacity: 0;
    transition: var(--fade-out);
    -webkit-transition: var(--fade-out);
    -moz-transition: var(--fade-out);
    -o-transition: var(--fade-out);
}

.show {
    opacity: 1;
    transition: var(--fade-in);
    -webkit-transition: var(--fade-in);
    -moz-transition: var(--fade-in);
    -o-transition: var(--fade-in);
}

.form-container {
    background-color: white;
    border: 2px solid black;
    border-radius: 14px;
    box-shadow: 4px 4px 6px lightgray;
    padding: 60px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    align-items: center;
    gap: 14px;
}

.form input[type=text] {
    font-size: 1rem;
    padding: 6px;
    margin-left: 6px;
}

.cancel {
    background-color: rgb(199, 0, 0);
}

.submit {
    background-color: rgb(62, 155, 62);
}

.title, .author, .pages {
    justify-self: end;
}

.title {
    grid-area: 1 / 1 / 2 / 3;
}

.author {
    grid-area: 2 / 1 / 3 / 3;
}

.pages {
    grid-area: 3 / 1 / 4 / 3;
}
